
# order deny,allow 
# deny from all 
# allow from 80.82.89.16

RewriteEngine On RewriteBase /

# if a directory or a file exists, use it directly
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# otherwise forward it to index.php
RewriteRule . index.html
AddDefaultCharset utf-8
AddType 'text/html; charset=utf-8' .html .htm .shtml
