<section class="about">
    <div class="pageheader pageheader--contact">
        <h1 class="pagetitle">Контакты</h1>
    </div>
    <div class="container container--default container--text-alone">
        <p>
            <a href="http://vk.com/rock_club_dkmpei">Рок-клуб ДК МЭИ</a> - организатор фестиваля 
            <span><div id="vk_subscribe_rock_club_dkmpei"></div></span>
        </p>
        <p>
            <a href="http://vk.com/dkmpei">"Удачные кадры"</a> - сообщество культоргов ДК МЭИ 
            <span><div id="vk_subscribe_dkmpei"></div></span>
        </p>
        <p>
            <a href="https://vk.com/batteryfest">Группа&nbsp;ВКонтакте</a> - официальная страница ВК 
            <span><div id="vk_subscribe_batteryfest"></div></span>
        </p>
        
        <p>Адрес ДК МЭИ: г. Москва, Энергетический проезд, дом 3а. м. Авиамоторная</p>
    </div>
    <div class="contact_map">
        <yandex-map center="map.center" zoom="map.zoom" class="contact-map">
            <ymap-marker coordinates="map.marker.coords" properties="map.marker.properties"></ymap-marker>
        </yandex-map>
    </div>
</section>
