<section class="hello">
    <div class="hello__container">
        <div class="hello__left">
            <figure class="festlogo">
                <img class="festlogo__img" src="/app/img/batteryfest-logo.png" alt="">
                <figcaption class="festlogo__caption">4 декабря 17:30<br><small>ДК МЭИ</small></figcaption>
            </figure>
            <div class="announcement"> 
                <h1 class="announcement__text">Бесплатные билеты на фестиваль</h1>
                <a href="/tickets" class="button">Получить</a>
            </div>
        </div>
        <div class="hello__right">
            <ul class="hello__features">
            <li class="hello__feature">Вход на фестиваль с электронным билетом или студенческим свободный(Но мы будем вам очень благодарны, если вы все равно <a href="/tickets">разместите</a> новость о нас).</li>
                <li class="hello__feature">Пока на сцене выступает группа, за неё можно будет голосовать на сайте. Коллективу с наибольшим количеством голосов вручат приз зрительских симпатий.</li>
            </ul>
        </div>
    </div>
    <div class="hello__bgoverlay"></div>
    <video autoplay loop poster="/app/img/bg_main.jpg" class="hello__bgvideo">
        <source src="/app/vids/batteryfest_loop.webm" type="video/webm">
        <source src="/app/vids/batteryfest_loop.mp4" type="video/mp4">
    </video>
</section>
<section class="jury">
    <div class="container container--default jury__container">
        <h2 class="jury__title">Специальные гости</h2>
        <div class="jury__persons">
            <div class="jury__person">
                <img src="/app/img/igor_sedov.jpg" class="jury__photo">
                <h3 class="jury__name">Игорь Седов</h3>
                <p>Директор проекта НАШЕ 2.0</p>
            </div>
            <div class="jury__person jury__name--right">
                <img src="/app/img/dmitry_snake_hakimov.jpg" class="jury__photo">
                <h3 class="jury__name">Дмитрий Snake Хакимов</h3>
                <p>Продюсер, автор песен, барабанщик, бывший участник групп «Янг Ганз», «Агата Кристи», «Блондинка КсЮ». На сегодняшний момент барабанщик и директор группы «МЭD DОГ», The Matrixx, «НАИВ», директор группы «Radio Чача»</p>
            </div>
        </div>
    </div>
</section>