<section class="about">
    <div class="pageheader">
        <h1 class="pagetitle">Соглашение на обработку персональных данных</h1>
    </div>
    <div class="container container--default container--text-alone">
<p>Все лица заполнившие сведения, составляющие персональные данные на данном сайте, а также разместившие иную информацию обозначенными действиями подтверждают свое согласие на обработку персональных данных и их передачу оператору обработки персональных данных.</p>

<p>Гражданин, предоставляет информацию об имени, фамилии, адресе электронной почты (e-mail), номере телефона с целью выполнения организаторами фестиваля своих обязанностей согласно положению о проведении фестиваля.</p>

<p>Гражданин, принимая настоящее Соглашение, выражает свою заинтересованность и полное согласие, что обработка их персональных данных может включать в себя следующие действия: сбор, систематизацию, накопление, хранение, уточнение (обновление, изменение), использование, уничтожение.</p>

<p>Отзыв согласия на обработку персональных данных может быть осуществлен путем направления Пользователем соответствующего распоряжения в простой письменной форме на адрес электронной почты (e-mail) <a href="http://info@batteryfest.ru">info@batteryfest.ru</a></p>
    </div>
</section>

