<section class="band">
    <div class="bandheader" style="background-image:url(/app/img/dummy/band.jpg)">
        <div class="container container--default bandheader__container">
            <div class="band__notes">
                <ul class="band__temp1">
                    <li class="band__temp2" ng-repeat="Achiv in Band.achivements">{{Achiv.text}}</li>
                </ul>
                <div class="bandviews">
                    <span class="bandviews__text">Просмотров</span><span class="bandviews__counter">Band.views</span>
                </div>
            </div>
        </div>
    </div>
    <div class="container band__container">
        <div class="bandcard band__info">
            <div class="bandphotos">
                <div class="bandphotos_main" style="background-image:url({{Band.photos[0].url}})"></div>
                <div class="bandphotos_secondary">
                    <div class="bandphotos_secondary1" style="background-image:url({{Band.photos[1].url}})"></div>
                    <div class="bandphotos_secondary2" style="background-image:url({{Band.photos[2].url}})"></div>
                </div>
            </div>
            <h1 class="bandname">{{Band.name}}</h1>
            <h2 class="banduniversity">{{Band.university}}</h2>
            <p><span class="tag" ng-repeat="genre in Band.genres">{{genre}}</span></p>
            <div ng-bind-html="bandDescription" class="band__description"></div>
            <h2 class="caption">Состав</h2>
            <div class="band__members"> 
                <div class="bandmember" ng-repeat="member in Band.members">
                    <div class="bandmember__photo" style="background-image:url({{member.photo}})"></div>
                    <b class="bandmember__name">{{member.name}}</b>
                    <span class="bandmember__instrument">{{member.role}}</span>
                </div>
<!--                 <div class="bandmember">
                    <div class="bandmember__photo" style="background-image:url(/app/img/dummy/nomember.jpg)"></div>
                    <b class="bandmember__name"></b>
                    <span class="bandmember__instrument"></span>
                </div> -->
            </div>
            <h2 class="caption">Контакты</h2>
            <div ng-bind-html="bandContacts"></div>
        </div>
        <div class="bandstream">
        </div>
    </div>
</section>